= form_for @vessel, :html => { :class => 'form-horizontal' } do |f|
  = render 'shared/error_messages', object: f.object

  %h5 *Selecting a Unit shall indicates current Vessel is a UNIT of a selected unit name

  .form-group
    = f.label :unit_id, class: 'col-sm-2 control-label'
    /- units_for= Unit.is_vessel.where.not(id: Vessel.where.not(unit_id: @vessel.unit_id).pluck(:unit_id))
    /- units_for= Unit.is_vessel.where.not(id: Vessel.others_unit(@vessel.unit_id))
    /- units_for= Unit.vessel_tobe_list(@vessel.unit_id)
    .col-sm-10= f.collection_select :unit_id, Unit.vessel_tobe_list(@vessel.unit_id), :id, :name, {:include_blank => t('helpers.prompt.select_vessel')}, {class: 'selectpicker', 'data-width'=>"auto"}

  .form-group
    = f.label :pennent_no, class: 'col-sm-2 control-label'
    .col-sm-10= f.text_field :pennent_no, :class => 'text_field', :type => :text

  .form-group
    = f.label :vessel_class_id, class: 'col-sm-2 control-label'
    .col-sm-10= f.collection_select :vessel_category_id, VesselCategory.all, :id, :type_category, {:include_blank => t('helpers.prompt.select_vessel_class')}, {class: 'selectpicker', 'data-width'=>"auto"}

  .col-sm-2.col-sm-offset-2
    = f.submit 'Save', class: "btn btn-primary"
